<div class="row h-100">
    <div class="col-4">
    </div>
    <div class="col-4 align-self-center">
        <div class="error-template">
            <h1>
                Oops!</h1>
            <h2>
                404 Not Found</h2>
            <div class="error-details">
                Requested page not found!
            </div>
            <div class="error-actions">
                <a *ngIf="!customer.isLogged()" class="btn btn-primary btn-lg" routerLink="/log-in">
                    <span class="glyphicon glyphicon-home"></span> Back Home </a>
                <a *ngIf="customer.isLogged()" class="btn btn-primary btn-lg" routerLink="/dashboard">
                    <span class="glyphicon glyphicon-home"></span> Back Home </a>
            </div>
        </div>
    </div>
    <div class="col-4">
    </div>
</div>